name: Moodle Cron

on:
  schedule:
    - cron: "*/5 * * * *"
  workflow_dispatch:

jobs:
  run-cron:
    runs-on: ubuntu-latest
    steps:
      - name: Ejecutar cron de Moodle
        run: |
          curl -A "Mozilla/5.0" "https://retox.walver.top/admin/cron.php?password=Retoxwa2025"
